.collapse {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
  margin: 0 auto 35px;
  text-align: left;

  &.open {
    .collapse-description {
      height: auto; 
      padding: 20px 10px 25px 10px; 
    }
  }

  &-header {
    background-color: #ff6060;
    border-radius: 5px;
    display: flex;
    align-items: center;
    height: 50px; 
    width: 100%;
    max-width: inherit;
    transition: margin-top 0.3s ease; 

    &.open {
      margin-bottom: -2px; 
    }

    &-title {
      color: #ffffff;
      font-size: 24px;
      font-weight: 700;
      margin: 0 10px; 
    }
  }

  .collapse-title {
    margin-left: 10px;
    font-size: 24px;
    font-weight: 700;
    color: #f6f6f6;
  }

  &-arrow {
    display: flex;
    justify-content: flex-end;
    margin-right: 10px;
    width: 100%;

    .collapse-arrow-img {
      transition: transform 0.3s linear;
      &:hover {
        cursor: pointer;
      }
    }

    &.true .collapse-arrow-img {
      justify-content: start;
      transform: rotate(-180deg);
    }
  }

  &-description {
    background-color: #f6f6f6;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    color: black;
    flex: 1; 
    width: 100%;
    max-width: inherit;
    padding: 20px 10px 10px 10px; 
    overflow: hidden;

    ul {
      list-style-type: none;
      padding-left: 0;
      margin-top: 0;
      margin-bottom: -5px;
    }

    li {
      margin-bottom: 3px;
    }
  }

  &.open .collapse-description {
    max-height: none;
  }
}


.collapse + .collapse {
  margin-top: 0; 
}