header {
    height: 125px;
    width: 87%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    position: relative;

    #header-container {
        display: flex;
        justify-content: space-between;
        max-width: 100%;

        .header-nav {
            display: flex;
            align-items: center;
            gap: 60px;
            font-size: 24px;
            font-weight: 500;
            font-family: 'Montserrat', sans-serif;
        }

        a {
            color: black; 
        }

        a:visited {
            color: black; 
        }
    }
}
