header {
    height: 125px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    position: relative;

    #header-container {
        display: flex;
        justify-content: space-between;
        width: 100%;

        .header-nav {
            display: flex;
            align-items: center;
            font-size: 24px;
            font-weight: 500;
            font-family: 'Montserrat', sans-serif;

            a {
                color: black;
                transition: color 0.3s ease;
                margin-left: 40px;

                &.active {
                    color: #000000;
                }

                &:hover {
                    color: #000000;
                }
            }
        }
    }
}

@media screen and (max-width: 600px) {
    header {
        margin-left: 0;
        margin-right: 0;
    }

    #header-container {
        .header-nav {
            width: 2000px;
            text-transform: uppercase;
            margin-left: -10px;

            a {
                font-size: 12px;
                 
                
                
            }
        }
    }

    .header-img {
        width: 211px;
        height: 46px;
    }
}
