.slide-show {
    display: block;
    height: 415px;
    margin: auto auto 30px auto;
    position: relative;
    width: 100%;
  
    .slide-arrow {
      position: absolute;
      width: 45px;
      z-index: 1;
  
      &:hover {
        cursor: pointer;
        filter: drop-shadow(2px 4px 6px black);
      }
    }
  
    .left-slide-arrow {
      margin-left: 25px;
      top: 50%;
      transform: translateY(-50%) rotate(180deg);
    }
  
    .right-slide-arrow {
      margin-right: 25px;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
    }
  
    .slide-show-img {
      border-radius: 15px;
      height: 415px;
      object-fit: cover;
      display: none;
      width: 100%;
  
      &.on {
        display: block;
      }
    }

  
      .left-slide-arrow {
        margin-left: 5px;
      }
  
      .right-slide-arrow {
        margin-right: 5px;
      }
  
      .slide-show-img {
        height: 255px;
      }
}
  
  